// create mixin for image background
@mixin backImage($src){
    background:url('#{$src}') no-repeat;
    background-size: cover;;
    background-position:center center;
}
// mixin for circle
@mixin circle($color,$rad){
    width:$rad;
    height:$rad;
    background-color:$color;
    border-radius:50%
}