@import 'var';
@import 'mixins';
// global rules
*{
    font-family: 'Roboto';
}
body{
    height:100vh;
    background:$bgImage no-repeat;
    background-size:cover;
    background-position: center center;
    .content{
        width:400px;
        border-radius:10px;
        position: relative;
        background:rgba(#fff,0.5);
        color:#1e3799;
        font-weight:bold;
        box-shadow:0 0 1px 1px rgba(0,0,0,0.5);
        border:1px solid #fff;
        .city{
            padding:4rem 0;
            .city-name{
                margin-right: 108px;
                font-weight: 700;
                font-size: 30px;
                margin-top: 15px;
            }
            .add-city{
                position: relative;
                a{
                    text-decoration: none;
                    color:#1e3799;
                    font-size:40px;
                    cursor: pointer;
                    &:hover{
                        color:#1e3799;
                    }
                }
                .search{
                    margin:0;
                    position:absolute;
                    width:250px;
                    // height: 177px;
                    height: 0px;
                    overflow: hidden;
                    background-color:rgba(92, 117, 172,0.6);
                    top: 59px;
                    z-index:15;
                    border-radius:10px;
                    @include easeOut;
                    &.active{
                        padding:20px;
                        height:124px
                    }
                    .head{
                        text-transform: capitalize;
                    }
                    input{
                        text-transform: capitalize;
                    }
                    input[type="text"]::placeholder {
                        color:rgba(92, 117, 172,0.6)
                    }
                    input[type="submit"]{
                        background-color:#5c75ac;
                        color:#fff;
                    }
                }

            }
        }
        .icon{
            text-transform: capitalize;
            font-size: 1.5rem;
            .icon-image{
                text-align:center
            }
        }
        .temp-section{
            padding:2rem 0; 
            text-align: center;
            font-size:1.75rem;
            font-weight:bold;
            span{
                padding:10px;
                i{
                    font-size:23px !important;
                }
            }
            &>span:nth-of-type(1){
                display: block;
            }
        }
    }
}
// styles for responsive screen
@import 'mobile';