@import 'var';
@import 'mixins';
// global rules
*{
    font-family: 'Roboto';
}
body{
    height:100vh;
    background-color:$bgColor;
    .content{
        width:400px;
        height:550px;
        background-color:rgba(255,255,255,0.9);
        border-radius:10px;
        position: relative;
        color:#000;
        font-weight:bold;
        box-shadow:0 0 1px 1px rgba(0,0,0,0.5);
        .city{
            height:50%;
            .city-name{
                margin-right: 108px;
                font-weight: 700;
                font-size: 30px;
                margin-top: 15px;
            }
            .add-city{
                position: relative;
                a{
                    text-decoration: none;
                    color:#000;
                    font-size:40px;
                    cursor: pointer;
                    &:hover{
                        color:#000;
                    }
                }
                .search{
                    margin:0;
                    position:absolute;
                    width:250px;
                    // height: 177px;
                    height: 0px;
                    overflow: hidden;
                    background-color:rgba(92, 117, 172,0.6);
                    top: 59px;
                    z-index:15;
                    border-radius:10px;
                    @include easeOut;
                    &.active{
                        padding:20px;
                        height:124px
                    }
                    .head{
                        text-transform: capitalize;
                    }
                    input{
                        text-transform: capitalize;
                    }
                    input[type="text"]::placeholder {
                        color:rgba(92, 117, 172,0.6)
                    }
                    input[type="submit"]{
                        background-color:#5c75ac;
                        color:#fff;
                    }
                }

            }
        }
        .icon{
            position: relative;
            i:before,i:after{
                font-size:122px;
                font-weight:normal;
                position: absolute;
                top: -165px;
                left: 115px;
                z-index: 10;
            }
            .circle{
                @include circle($sunCOlor,50px);
                position: absolute;
                left: 200px;
                top: -126px;
                z-index: 5;
            }
        }
        .info{
            height:50%;
            font-size:40px;
            i:before,i:after{
                margin-left: 11px;
                font-size: 29px;
                margin-top: 10px;
                line-height: 2;
            }
            p{
                margin:0;
            }
            .temp{
                
            }
            .wind-speed{
               
            }
        }
    }
}