@import 'var';
@import 'mixins';
// global rules
*{
    font-family: 'Roboto';
}
body{
    height:100vh;
    background-color:$bgColor;
    .content{
        width:400px;
        height:550px;
        background-color:rgba(255,255,255,0.9);
        border-radius:10px;
        position: relative;
        color:#000;
        font-weight:bold;
        .city{
            height:50%;
            .city-name{
                margin-right: 108px;
                font-weight: 700;
                font-size: 30px;
                margin-top: 15px;
            }
            .add-city{
                a{
                    text-decoration: none;
                    color:#000;
                    font-size:40px;
                    cursor: pointer;
                    &:hover{
                        color:#000;
                    }
                }
            }
        }
        .icon{
            position: relative;
            i:before,i:after{
                font-size:122px;
                font-weight:normal;
                position: absolute;
                top: -165px;
                left: 115px;
                z-index: 10;
            }
            .circle{
                @include circle($sunCOlor,50px);
                position: absolute;
                left: 200px;
                top: -126px;
                z-index: 5;
            }
        }
        .info{
            height:50%;
            font-size:40px;
            i:before,i:after{
                margin-left: 11px;
                margin-top: -22px;
                font-size: 27px;
            }
            p{
                margin:0;
            }
            .temp{
                
            }
            .wind-speed{
               
            }
        }
    }
}